body {
  background-color: #f8f9fa;
}

#expensesList {
  margin-top: 20px;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.expense-item:hover {
  background-color: #f8f9fa;
}

.delete-btn {
  cursor: pointer;
  color: #dc3545;
}

.total-expense {
  text-align: right;
  padding: 20px;
  background-color: #e9ecef;
  border-radius: 5px;
}

.badge-Food {
  background-color: #28a745;
}
.badge-Travel {
  background-color: #17a2b8;
}
.badge-Shopping {
  background-color: #ffc107;
}
.badge-Bills {
  background-color: #fd7e14;
}
.badge-Others {
  background-color: #6c757d;
}

.chart-container {
  max-width: 400px; /* Maximum width */
  max-height: 400px; /* Maximum height */
  width: 100%; /* Responsive width */
  height: auto; /* Maintain aspect ratio */
}
